* {
    padding: 0;
    margin: 0;
    box-sizing: 0;

 }

div
{
display: block;
width: 0px;
height:00px;
border: solid 150px #f11ac27a;
margin: 300px auto;


}

div::after
{
    content: "";
    display: block;
    width: 50px;
    height:50px;
    border-top: solid 1px   #060416;
    border-bottom: solid 0px  transparent;
    border-right: solid 0px  transparent;
    border-left: solid 1px #060416;
    position: absolute;
    right: 45%;
    top: 274px;
    transform: rotate(45deg);
    background-color:#f11ac27a ;
} 