* {
    padding: 0;
    margin: 0;
    box-sizing: 0;

 }
/*
article {
    width: 600px;
    height: 300px;
    background-color: #999;
    margin: 0 auto;
}

h1 {
    inline-size: 200px;
    ;
    margin: 50px 0 0 -20px;
    border-top: 2px solid #990000;
    border-left: 2px solid #990000;
    border-bottom: 2px solid #990000;
    background-color: #990000;
    position: relative;
}

h1::after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-top: solid 12px #a81010;
    border-left: solid 20px transparent;
    position: absolute;
    left: 0;
    bottom: -14px;
}

h1::before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-top: solid 29px #990000;
    border-bottom: solid 29px #990000;
    border-right: solid 29px transparent;
    position: absolute;
    right: -29px;
    top: -2px;
}

div {
    width: 200px;
    height: 300px;
    background-color: #3b1af1;
    margin: 0 auto;
    position: relative;
}

div::before 
{
    content: "";
    display: block;
    width: 0;
    height:0;
    border-top: solid 150px transparent;
    border-bottom: solid 150px transparent;
    border-right: solid 25px #3b1af1;
    position: absolute;
    right: 200px;
    top: 0px;
}

div::after
{
    content: "";
    display: block;
    width: 0;
    height:0;
    border-top: solid 150px transparent;
    border-bottom: solid 150px transparent;
    border-left: solid 25px #3b1af1;
    position: absolute;
    right: -25px;
    top: 0px;
    
} */
div
{
display: block;
width: 0px;
height:00px;
border: solid 150px #f11ac27a;
margin: 300px auto;


}
/* div::before 
{
    content: "";
    display: block;
    width: 0px;
    height:0px;
    border-top: solid 50px transparent;
    border-bottom: solid 50px #3b1af1;
    border-right: solid 25px transparent;
    border-left: solid 25px transparent;
    position: absolute;
    right: 50%;
    top: 200px;      
} */

div::after
{
    content: "";
    display: block;
    width: 50px;
    height:50px;
    border-top: solid 1px   #060416;
    border-bottom: solid 0px  transparent;
    border-right: solid 0px  transparent;
    border-left: solid 1px #060416;
    position: absolute;
    right: 45%;
    top: 274px;
    transform: rotate(45deg);
    background-color:#f11ac27a ;
} 